.navbar {
    display: flex;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */

    
  }

  .icon {
    align-items: center;
  }
  .menu {
    display: block;
    box-sizing: border-box;
    background: white;
    height: 87.75px;
    width: 87.75px;
    padding: 36px;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 8px 22px rgba(0, 0, 0, 0.15);
    transition: 1.3s cubic-bezier(0.53, 0, 0.15, 1.3);
    float:left;
  }
  .menu.expanded {
    width: 80%;
  }
  
  span {
    padding: 9px;
    white-space: nowrap;
    visibility: visible;
    opacity: 1;
    transition: 0.3s;
    transform: rotateY(0deg);
  }
  span:nth-of-type(1) {
    transition-delay: 0.4s;
  }
  span:nth-of-type(2) {
    transition-delay: 0.5s;
  }
  span:nth-of-type(3) {
    transition-delay: 0.6s;
  }
  span:nth-of-type(4) {
    transition-delay: 0.7s;
  }
  span.hidden {
    width: 0;
    visibility: hidden;
    opacity: 0;
    transform: rotateY(90deg);
  }
  span.hidden:nth-of-type(1) {
    transition-delay: 0.3s;
  }
  span.hidden:nth-of-type(2) {
    transition-delay: 0.2s;
  }
  span.hidden:nth-of-type(3) {
    transition-delay: 0.1s;
  }
  span.hidden:nth-of-type(4) {
    transition-delay: 0s;
  }
  span a {
    color: black;
    text-decoration: none;
    font-size: 16.3636363636px;
    transition: 0.3s;
  }
  
  .container {
    position: absolute;
    top: 22.5px;
    right: calc( 100% - 73.125px );
    height: 42.75px;
    width: 58.5px;
    transition: 1s;
    float: right;
  }
  .container.close {
    right: 0;
  }
  
  .toggle {
    position: relative;
    height: 42.75px;
    width: 58.5px;
    cursor: pointer;
  }
  .toggle:after, .toggle:before {
    content: "";
    background: #1d90f5;
    width: 36px;
    height: 4.5px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: 1.3s cubic-bezier(0.53, 0, 0.15, 1.3);
  }
  .toggle:before {
    top: -30%;
  }
  .toggle:after {
    top: 30%;
  }
  .toggle.close:before {
    transform: rotate(-225deg);
    top: 0;
  }
  .toggle.close:after {
    transform: rotate(225deg);
    top: 0;
  }

  #abstract{
      text-align: center;
      font-size:3.5vmax;
  }

  .intro{
    margin-right: 5%;
    margin-left: 5%; 
    display: flex;
    flex-direction: row;
  }

  .introPicture{
    width:50%;
    height: auto;
    display:flex;

    
  }

  .introPicture img{
    width:50%;
    margin-right: auto;
    margin-left: auto; 
  }
  .introString{
    width:50%;
    font-size:2vmax;
    height: 10rem;
    text-align: center;
  }





  *,
  *:before,
  *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
  }
  
  html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 62.5%;
  }
  
  .btn,
  a.btn,
  button.btn {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    display: inline-block;
    padding: 1rem 4rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #212529;
    border-radius: 0.5rem;
  }
  
  a.btn-border {
    width: 30%;
    margin-right: auto;
    margin-left: auto;
      
    margin-bottom: 12px;
    padding: 0;
  
    -webkit-transition: all 0.3s;
  
    transition: all 0.3s;
  
    border-radius: 0;


  }
  
  a.btn-border span {
    position: relative;
  
    display: block;
  
    padding: 1.25rem 3rem;
  
    color: #000;
    border: 2px solid #000;
    border-radius: 0.5rem;
    background: #fff;
  }
  
  a.btn-border:before {
    position: absolute;
    bottom: -8px;
    left: 0;
  
    display: block;
  
    width: 100%;
    height: 14px;
  
    content: "";
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  
    border: 2px solid #000;
    border-top: 1px solid #000;
    border-radius: 0 0 0.5rem 0.5rem;
    background-image: -webkit-repeating-linear-gradient(
      135deg,
      #000,
      #000 1px,
      transparent 2px,
      transparent 5px
    );
    background-image: repeating-linear-gradient(
      -45deg,
      #000,
      #000 1px,
      transparent 2px,
      transparent 5px
    );
    background-size: 7px 7px;
  
    -webkit-backface-visibility: hidden;
  
    backface-visibility: hidden;
  }
  
  a.btn-border:hover {
    -webkit-transform: translate(0, 3px);
    transform: translate(0, 3px);
  }
  
  a.btn-border:hover:before {
    bottom: -5px;
  }
  
  a.btn-border:active {
    -webkit-transform: translate(0, 7px);
    transform: translate(0, 7px);
  }
  
  a.btn-border:active:before {
    bottom: -1px;
  }
  
  .startButton{
      display:flex;
      width: 100%;
      
  }










  

.loopSlide {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    width: 100vw;
    overflow: hidden;
  }
  .loopSlide ul {
    padding: 0;
    width: 100vw;
    display: flex;
    flex-shrink: 0;
  }
  .loopSlide ul:first-child {
    animation: slide1 60s -30s linear infinite;
  }
  .loopSlide ul:last-child {
    animation: slide2 60s linear infinite;
  }
  .loopSlide ul li {
    display: inline-block;
    width: 100%;
    min-width: 150px;
    margin-right: 20px;
    list-style: none;
    text-align: center;
  }
  .loopSlide ul li img {
    display: block;
    width: 100%;
    height: auto;
  }
  .loopSlide:hover ul {
    animation-play-state: paused;
  }
  
  @keyframes slide1 {
    0% {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  @keyframes slide2 {
    0% {
      transform: translateX(0);
    }
    to {
      transform: translateX(-200%);
    }
  }











  body {
    font-family: sans-serif;
    font-size: 14px;
  }
  code {
    background: #daf4ff;
    padding: 0 0.2rem;
    border-radius: 0.2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  
  .steps {
    /* 連番カウンター名の定義 */
    counter-reset: step-counter;
    /* 縦棒との位置関係に必要 */
    position: relative;
    /* 縦棒と連番のためのスペースを左に確保 */
    padding-left: 2rem; /* 連番(1.5rem) + 余白 */
  }

  .steps p{
    font-size: 1rem;
  }
  /* 縦棒 */
  .steps:before {
    content: "";
    /* 幅と色 */
    background-color: #ccc;
    width: 2px;
    /* 位置 */
    position: absolute;
    top: 0.7rem; /* 円のwidthの半分 */
    left: 0.7rem; /* 円のwidthの半分 */
    height: calc(100% - 0.7rem); /* 100% - top */
    /* 連番より後ろに表示するため */
    z-index: 0;
  }
  .steps > h2 {
    /* 連番カウンターを+1する */
    counter-increment: step-counter;
    /* 連番カウンターを垂直方向に中央揃えで表示する */
    display: flex;
    align-items: center;
  }
  /* ①②③など連番 */
  .steps > h2:before {
    /* 連番カウンターの値を表示する */
    content: counter(step-counter);
    /* フォントと色 */
    background:#6091d3;
    color: white;
    font-size: 0.8rem;
    font-weight: normal;
    /* 文字を中央に表示する */
    line-height: 1.5rem;
    text-align: center;
    /* 円で表示する */
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1.5rem;
    /* .stepsでmargin-left +2rem したぶん左に戻す */
    position: absolute;
    left: 0;
    /* 縦棒より手前に表示するため */
    z-index: 1;
  }