.button img{
    width: 3%;
    height: auto;
    float: right;
    top:0;
    bottom:5
}

#mousecoordLabel{
    float:left;
    width:130px;
}

.icon img{   
    width: 3%;
    height: auto;
    float: left;

}

.button  input{
    display: none;
}


.bar1 {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #888888;
    border: 0;  /*デフォルトデザインでは線がある場合があるので、消しておく。*/
  }

#gridsize{
    width: 20px
}

#input_coord_x{
    width: 70px
}

#input_coord_y{
    width: 70px
}

#input_degree{
    width: 30px
}


#input_Bind_0{
    width: 100px
}
#input_Bind_1{
    width: 100px
}
#input_Bind_2{
    width: 100px
}

.keySelect{
    float: right;
    width: 30px;
    font-size:5px;
	bottom: 5;
    top:10%
    right:10%
}

