<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <title>keyboard maker</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/contact_style.css') }}">
    <link type="text/css" rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/cupertino/jquery-ui.min.css" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
    </head>
    <body>
        <div class="navbar">
            <div class="menu">
                <div class="container">
                <div class="toggle"></div>
                </div><span class="hidden"><a href="#">Home </a></span><span class="hidden"><a href="../app">app </a></span><span class="hidden"><a href="#">documents</a></span><span class="hidden"><a href="#">Contact</a></span>
            </div>
        </div>
        <script type="text/javascript" src="{{ url_for('static', filename='js/contact.js')}}"></script>
        <div id= contactus><font  face="游ゴシック">Contact Us</font></div>

        <div id=contact>
            <div id=twitter>
                <img width="10%" src="https://drive.google.com/uc?id=12hkRyPJ3gkTbyFXil15eV2tuucLYYXJY">
            </div>
            <div id=mail>
                
            </div>  
        </div>
        
</html>