<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta property='og:type' content='website'>
  <meta property='og:title' content='WebデザイナーTARO YAMADA ポートフォリオ'>
  <meta property='og:url' content='URLが入る'>
  <meta property='og:description' content='TARO YAMADAのポートフォリオサイトです。'>
  <meta property="og:image" content="img/ogp.png">
  <meta name="description" content="TARO YAMADAのポートフォリオサイトです" />
  <title>TARO YAMADA ポートフォリオ</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons+Outlined" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/ress.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
  <link rel="shortcut icon" href="https://drive.google.com/uc?id=1T1pKpACOFyjjJfqf1457tTKbLEx5_Whd" />
  <link rel=”canonical” href=”URLが入る” />
</head>

<body>
  <div class="wrapper">

    <!-- header -->
    <header class="header ">
      <div class="container">
        <h1 class="header-logo">
          <a href=".">AIBA HIZUKI</a>
        </h1>
        <nav class="gnav">
          <ul class="gnav-list">
            <li class="gnav-item"><a href="#works">WORKS</a></li>
            <li class="gnav-item"><a href="#skill">SKILL</a></li>
            <li class="gnav-item"><a href="#about">ABOUT</a></li>
            <li class="gnav-item"><a href="#contact">CONTACT</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <!-- /header -->

    <main class="content">

      <!-- mv -->
      <div class="mv">
        <div class="mv-container">
          <p class="mv-title">AIBA HIZUKI</p>
          <p class="mv-subtitle">PORTFOLIO</p>
          <p class="mv-text">
            電子回路、IoTを中心に作品を作っています。<br class="sp-only"><br>
            最近はROS周りを触っています。<br class="sp-only"><br>
          </p>
        </div>
      </div>
      <!-- /mv -->

      <!-- works -->
      <section class="works section" id="works">
        <div class="container">
          <h2 class="title">WORKS</h2>
          <div class="works-list">
            <a class="works-item" href="works-template.html">
              <div class="works-img"><img src="" alt="" /></div>
              <p class="works-name">作品名が入る</p>
              <p class="works-info">Design / Coding(Responsive)</p>
            </a>
            <a class="works-item" href="works-template.html">
              <div class="works-img"><img src="" alt="" /></div>
              <p class="works-name">作品名が入る</p>
              <p class="works-info">Design / Coding(Responsive) / WordPress</p>
            </a>
            <a class="works-item" href="works-template.html">
              <div class="works-img"><img src="" alt="" /></div>
              <p class="works-name">作品名が入る</p>
              <p class="works-info">Design</p>
            </a>
            <a class="works-item" href="works-template.html">
              <div class="works-img"><img src="" alt="" /></div>
              <p class="works-name">作品名が入る</p>
              <p class="works-info">Banner Design</p>
            </a>
            <a class="works-item" href="works-template.html">
              <div class="works-img"><img src="" alt="" /></div>
              <p class="works-name">作品名が入る</p>
              <p class="works-info">Banner Design</p>
            </a>
          </div>
        </div>
      </section>
      <!-- /works -->

      <!-- skill -->
      <section class="skill section" id="skill">
        <div class="container">
          <h2 class="title">SKILL</h2>
          <div class="skill-list">
            <div class="skill-item">
              <p class="skill-img"><img src="https://msp.c.yimg.jp/images/v2/FUTi93tXq405grZVGgDqGx5cm8knTLo61O84kVTxOan841a30-aIJSoqkmlQNsP4-Qv0KVqX9M9vYFUiwJk7TVqawlEifJUx_EMQf_YOC4d4ecH15GsXOnZuZ95T5M7saE4-W9uPEB76D8ZD-3inzOxrYG5tFG5kVMAHJXNVkDgUUjQfrSz3EoTjCHnQc5VLy081uZa8lDuwdcy3vRMShoc6AKFusZGBN4xaUKctUmvH6L6BznzQFKWY5AKonnV_AQbv2Oyod7VE0onctNILvgExW8seQh1MgAD_Ew9V5jY=/Arduino_Uno_-_R3.jpg" alt=""></p>
              <div class="skill-body">
                <h3 class="skill-name">Arduino</h3>
                <p class="skill-text">
                  今まで一番利用歴が長いです。</p>
              </div>
            </div>
            <div class="skill-item">
              <p class="skill-img"><img src="https://msp.c.yimg.jp/images/v2/FUTi93tXq405grZVGgDqGwvR9UScQpJGx-WefKrCMTrX3MvGVzhX5PboF8mND6BW0cW6Y8MtoHk7llzATicOpnpU-h7ss3qs7gRjH57biIqf56zSRzrze-nronGnrTANLAHD5JCjpiUOTODuec_HAUqziG--IQu9-QD00MHIee-5yBl7y-V295AXd9OmbSTfCHT4POPSzuaXzIUQYTX30gy7ZkwWO6mghvWYC9Lx-2FV7faf7bTMV2ukSd1YJF3mYyakObEmcex_W4TqqZw-LdBUmbiJqeM0G5ktZ-bErIY=/eagle-s.jpg" alt=""></p>
              <div class="skill-body">
                <h3 class="skill-name">回路図CAD</h3>
                <p class="skill-text">
                  eagle,kicadどちらのツールも使えます。</p>
              </div>
            </div>
            <div class="skill-item">
              <p class="skill-img"><img src="https://msp.c.yimg.jp/images/v2/FUTi93tXq405grZVGgDqG785RTJjRnA04V5Y_4oYXTEUces-igThr3y0fpggfu4w6jNz1aLmO2S_i8emLI4cbMWYPbqH6ujI5m_KjbGVi5yw7Jz4vAkMxucStcBjuLW7kx30ilmCb3AbMSWUdHJNtiBvZfIrPMhEU5So_JwUHZoggfheT3VZvQQXUlSp7XonFW8qCg9JccEDAkW7qgTayoAgOERmond4rce8jpRphSmrlg_CZut-1eRwx49pFTf5EGBawzIcsIUubZb3oVx9XCGuGJrJuxBjcu0kr-iPwcdkV7UBazxgeWLUX1rLSUq1kblacJjYyRzx0kb9BgeVdQ==/fusion-360-icon-400px.png" alt=""></p>
              <div class="skill-body">
                <h3 class="skill-name">3D CAD</h3>
                <p class="skill-text">
                  Fusion360、FreeCadの使用経験があります。</p>
              </div>
            </div>
            <div class="skill-item">
              <p class="skill-img"><img src="https://msp.c.yimg.jp/images/v2/FUTi93tXq405grZVGgDqG5Dgw02U19OMFO0bgyxeMMCp0KvmwLSdrqV9H81RLrskTk8tg8QHexE7_Lh9dzjyHyC14E7NVG-lsj1FSywod1VINaMWL13kW-r_LZDlT4fNQos7fvAgS6EDGIyx6ZIRk5vwliP_X3BkTB9Lve4WwF-3a7ceFxPfoFgRZiYqGCG1C-hdCRTYO_68xY5vDp5X74hja_KULZj3trgmbNqzN9sxP8bJ3q52g5bVt64O4L8uuvuYaq_299Ux1j1zbmeCrMdFY9e5yYpgM9pAgUaZ1SgggfheT3VZvQQXUlSp7XonFW8qCg9JccEDAkW7qgTayoAgOERmond4rce8jpRphSmrlg_CZut-1eRwx49pFTf5QH_OtAnB1z_VXzEf6WnXGcv-2OVaHAESOrowXntRWYB1RDskLkF2L_uIdo4R0a9mj49Udy8FdiyndOQqqTOF4g==/9f1c6367af653a042fddba774cb3a783e55d29579d40b7caac134959e0e0" alt=""></p>
              <div class="skill-body">
                <h3 class="skill-name">Web技術</h3>
                <p class="skill-text">
                  Keyboard maker,Desk makerを作成しまいした。</p>
              </div>
            </div>
            <div class="skill-item">
              <p class="skill-img"><img src="https://msp.c.yimg.jp/images/v2/FUTi93tXq405grZVGgDqGx5cm8knTLo61O84kVTxOan841a30-aIJSoqkmlQNsP4-Qv0KVqX9M9vYFUiwJk7TVN71hfg6OaebNuoUI-Frj8p3Tddv0PwVBMaq3nTywSC09W6sKhIyUavJGJ9oxks-jnU2YdBHFGBS5SAosWVXZio7qDd7TLGMTmZd5dRYFOOpxk6TduD-mOLk-MSssURZrmWnhkYoHDRX1J6n_7qje1yXs7jlN5lqDjAfuj7GieH2RV-xR6AtIptG8jET0uCtyFwwJ1r-Vxh7Q5toRdXB0sDUiV0McpU-jxKKDdqjLPuiof6YPZQYi0Jgz13kj6CpxrnYPJ6Jj82rWoeHzk4kqo=/1200px-Python-logo-notext.svg.png" alt=""></p>
              <div class="skill-body">
                <h3 class="skill-name">Python</h3>
                <p class="skill-text">
                  画像処理、RAKUDA、Bitwiserなどの作品を作成しました。</p>
              </div>
            </div>
            <div class="skill-item">
              <p class="skill-img"><img src="https://msp.c.yimg.jp/images/v2/tpvPBYOX1wpNVI1UoNSgEk_4vUEU9IDOI_6SUr81zvkgu7zsOR3yPRHt_BJ9gtwHIQYsOYcgspXNUaaLjoWY8dIhlzPTeMcQY4ifTmWPY9a0IWabi3bJNBV0mJ2j9aYndHuXi1wfRHDL8oNSzP68a6uo4TtAc4544SXAB59Bn9ocC1Uxdghbi56ph8Jig11dk-OrthEjsw2iBgeN7-38my5665TdQ7qabo0ZsP4iIqqmZ4WGWgMTYAvX5tIKS9FeMmZzRHYjrWEhlKIFHNRX7zK6ORpzPf7OFpD40n_M3-zLRyATXASUlp41zBDZjaDkR9Mnbjzr-TuNvAe43zh8EMDH_3PNw6Msrfe_CDbdJRg8OrM8T7zJeRTMavAGmfjolGLpwrRgS2Uyh8yGfl7eP4z0-kdKhTK1vGzBC7f8wUA=/d6fe8a22af8638d005855f8c4b04003a_300x_bcc189fd-9578-4d94-a0f4-7b947323e84c.png" alt=""></p>
              <div class="skill-body">
                <h3 class="skill-name">ROS</h3>
                <p class="skill-text">
                  勉強中です。</p>
              </div>
            </div>
            <div class="skill-item">
              <p class="skill-img"><img src="https://msp.c.yimg.jp/images/v2/FUTi93tXq405grZVGgDqGyL5nc0JPOaUOtLWCRSwKb5x0EhmYEz9re4BenktujdEH2BeWCnnRhcHGCaNnYT---R6QoV-6HppQ2-UFxZJ8wlFvVpG-IVN_L5N8_aElWG7b6CN3Jj4iRK61-1ZcYSp2CkbkqjKswAjuBVYiRiTks6Vzua3c4MjoDAwngCiK_6XWFV00-fwYkXUln6Fj_cpyD3hPjQSrjgaUaF6VrwUfszG6jW2cHps2zjWvTOpsHvTgd6j4wLtUFaaC_2vZbi0QO6susXmVTRrtadKMJUpVPWM9PpHSoUytbxswQu3_MFA/media" alt=""></p>
              <div class="skill-body">
                <h3 class="skill-name">3Dprinter</h3>
                <p class="skill-text">
                  2台所有、FDMでPLA,ABSの使用経験があります。</p>
              </div>
          </div>
        </div>
      </section>
      <!-- /skill -->

      <!-- about -->
      <section class="about section" id="about">
        <div class="container">
          <h2 class="title">ABOUT ME</h2>
          <div class="profile">
            <p class="profile-img">
              <img src="https://drive.google.com/uc?id=1GZ5YBmCgr80vqt587crofZY7c6Nrdyi7" alt="">
            </p>
            <div class="profile-body">
              <p>
              　組み込み、回路設計、機械設計、webサービス作成などを中心にやっています。<br>
                メインで使っているマイコンはatmega328pにArduinoブートローダーを載せて使っています。
                たまに、necleoなども使っています。
                組み込みエンジニアを目指してます。
                <br>
                <br>
                昨年は、未踏ジュニアにて空を飛ぶstem教材「rocat」を開発しました。<br>
                今年は電気自動車の開発に力を入れています。
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- /about -->

      <!-- contact -->
      <section class="contact section" id="contact">
        <div class="container">
          <h2 class="title">CONTACT</h2>
          <p class="lead">
            お問い合わせは、<br class="sp-only">SNSかメールにてお願いいたします。
          </p>
          <div class="contact-list">
            <a class="contact-item" href="https://twitter.com/" target="_blank" rel="noopener">Twitter</a>
            <a class="contact-item" href="https://www.instagram.com/" target="_blank" rel="noopener">Instagram</a>
            <span class="contact-item">xxxxxx@gmail.com</span>
          </div>
        </div>
      </section>
      <!-- /contact -->
      <div class="page-top" id="js-page-top">
        <span class="material-icons-outlined">expand_less</span>
      </div>
    </main>

    <!-- footer -->
    <footer class="footer">
      <div class="copyright">&copy;TARO YAMADA</div>
    </footer>
    <!-- /footer -->

  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/script.js')}}"></script>
</body>
</html>