  <!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/menu_style.css') }}">
  </head>
  <body>
    <div class="icon"><img  src="https://drive.google.com/uc?id=1NvnZv8_LBUmu5VbZCljuUkFwpfkoMPlD" alt="WGP" />
   
    
    </div>
    <hr>
    <div class= "selectToolsMenu">
        <a href="https://keyboardmaker.herokuapp.com/app/PCBeditor/" class="toolImage"><img  src="https://drive.google.com/uc?id=1QbJHil-9m6jxOhszLLjNJLMMuTtKPnsY" alt="WGP" /><p>PCB editer</p></a>
        <a href="https://sekigon-gonnoc.github.io/promicro-web-updater/index.html" class="toolImage"><img  src="https://drive.google.com/uc?id=1BbjlZH6E6N4WdOYzC8ivY9oI9EpElTI-" alt="WGP" /><p>Firmware Burner </p></a>
        <a class="toolImage"><img  src="https://drive.google.com/uc?id=19OSzSUd_LQc0-5aQqxkbT5C7bgrI_Jy1" alt="WGP" /><p>How to use</p></a>
    </div>
  </body>
</html>