<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>keyboard maker</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/5.1.3/pixi.min.js"></script>
    <link type="text/css" rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/cupertino/jquery-ui.min.css" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/PCBeditor_style.css') }}">
    <link rel=”shortcut icon” href="https://drive.google.com/uc?id=1NvnZv8_LBUmu5VbZCljuUkFwpfkoMPlD" />
  </head>
  <body>
    <div class = "icon">
      <img src="https://drive.google.com/uc?id=1NvnZv8_LBUmu5VbZCljuUkFwpfkoMPlD"  onclick= "addKey()">
    </div>
    <tr>
    <div class = "button">
      <img hspace = "3"  src="https://drive.google.com/uc?id=1MXN1AJBHLnmZcMnGW4B2gGxirTPdbcfo" onclick= "deleteElement()">
      <label for="file-input"><img hspace = "3"  src="https://drive.google.com/uc?id=15CtT8_dXfek89MRlFpKqJARwr192Bs08"></label><input id="file-input" type="file" />
      <img hspace = "3"  src="https://drive.google.com/uc?id=1wGXk43mM987mwbwTzKtkIyGCWiZEzZf6" onclick= "Exportfile()">
      <img hspace = "3"  id=addComputerButton src="https://drive.google.com/uc?id=1ozVTmBioOx0omRZtviXiaMc2vIB6RIsx" onclick= "addComputer()"></li>
      <img hspace = "3"  src="https://drive.google.com/uc?id=12oUriB1ZHKLjqGb9pYDsqx_AX9T1bi3-"  onclick= "addKey()">
      <img hspace = "3"  src="https://drive.google.com/uc?id=12av5txCUHNuQwAPvoCA1GlindQqT3Ika" onclick= "Draw_Outline()"> 
    </div>


 
    <hr class = bar1>
    <div class ="param">
      <canvas id ="canvas1"></canvas>
      <span id=mousecoordLabel><label id=mousecoord > </label></span>
      <label  >gridwidth[mm]</label><input id="SwitchShowGrid" type="checkbox" checked></input><label >:</label>
      <input type="text" id="gridsize"  value="20" name="gridsize" size ="3">
      <label>&nbsp;&nbsp; x[mm]:</label>
      <input type="number" id="input_coord_x" value = 0>
      <label  >y[mm]:</label>
      <input type="number" id="input_coord_y"  value =0>
      <label  >angle[degree]:</label>
      <input type="number" id="input_degree"   value= 0>

      <label >  BindMap:</label>
      <input type="radio" id="map0"
        name="BindMap" value="map0" onchange="updateMapNumRadio()" checked>
      <label for="map0">1</label>
  
      <input type="radio" id="map1"
        name="BindMap" value="map1"  onchange="updateMapNumRadio()">
      <label for="map1">2</label>
  
      <input type="radio" id="map2"
        name="BindMap" value="map2"  onchange="updateMapNumRadio()">
      <label for="map2">3</label>

      <label  >Bind1:</label>
      <input type="text" id="input_Bind_0">

      <label  >Bind2:</label>
      <input type="text" id="input_Bind_1">

      <label  >Bind3:</label>
      <input type="text" id="input_Bind_2">


    <script type="text/javascript" src="{{ url_for('static', filename='js/PCBeditor.js')}}"></script>
    
    <script type="text/javascript" src="{{ url_for('static', filename='js/exportFile.js')}}"></script>
  </div>
    <hr>
    <div>Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    <div>Icons made by <a href="https://www.flaticon.com/authors/prosymbols" title="Prosymbols">Prosymbols</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    <div>Icons made by <a href="https://www.flaticon.com/authors/google" title="Google">Google</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>    
</body>
</html>